* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
h1{
    font-family: IMPACT;
   
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color:gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.container h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 30px;
}

.converter-row {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    padding: 50px 20px;
    margin-top: 20px; 
    box-shadow: 2px 2px 20px black;
}

.col {
    flex-basis: 100%;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.col label {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 10px;
    color:black;
}

.col input {
    width: 100%;
    height: 40px;
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: black;
}

@media screen and (min-width: 600px) {
    .container h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .converter-row {
        width: 60%;
    }
}
footer{
    background-color: gray;
    text-align: center;
}